<header id="header" style="background-color: #33cccc; width: 100%; height: 30%">
    <div class="hfeed site">
        <ul class="top-ribbon">
            <li class="green-background"></li>
            <li class="yellow-background"></li>
            <li class="orange-background"></li>
            <li class="pink-background"></li>
            <li class="dark-pink-background"></li>
            <li class="dark-grey-background"></li>
        </ul>
    </div>
</header>
        {% block header %}
        {% endblock %}
</div>

